body{
    
}
h1{
    font-size: 50px;
    font-family: 'Playfair Display', serif;
}
.name-highlight{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
}
.half-width img{
    width: 100%;
}