body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;
    font-family: 'Playfair Display', serif;
}
h2{
    font-size: 30px;
}
p{
    color: gray;
}
.orange-highlight{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    margin-top: 2%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.top-banner{
    background-image:url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg,orange, tomato);
    background-color: orange;
    padding: 10px 20px;
    border-radius: 7px;
    color: white;

}
.dream-area{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.single-experience{
    box-shadow: 10px 10px 40px gray;
    border-radius: 7px;
    height: 80%;
    background-color: white;
}
.experience{
    margin-left: 5%;
}
.experience-area{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
#baby-web{
    border-left: 7px solid;
    border-image: linear-gradient(red,salmon);
    border-image-slice: 1; 
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(orange,tomato);
    border-image-slice: 1;
}
footer p{
    text-align: center;
    font-size: 12px;
}